
.lists-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

}
h3{
 text-align: center;
  color: #5db57f;
}

.list {
  padding: 20px;
  border-radius: 10px;
}

#todo-list {
  background-color: #138b9d;
}

#urgent-list {
  background-color: #ea3b3b;
}

#homepage-wrapper {
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 10px;
}
