<div class="m-5 pb-3 pt-4" id="homepage-wrapper">
  <h2>Check state of your to-do list</h2>
  <div class="lists-wrapper m-4">
    <div class="list" id="todo-list">
      <h5 class="text-white">To do</h5>
      <app-todo-item *ngFor="let item of todoList" [todoItem]="item"
                     (markAsDone)="markTodoAsDone($event)"></app-todo-item>
      <a href="add/todo" class="btn btn-dark">+ Add todo item</a>
    </div>
    <div class="list" id="done-list">
      <h5 class="text-white">Done</h5>
      <app-done-item *ngFor="let doneItem of doneList" [doneItem]="doneItem"></app-done-item>
    </div>
    <div class="list" id="urgent-list">
      <h5 class="text-white">Urgent</h5>
      <app-urgent-item *ngFor="let urgentItem of urgentList" [urgentItem]="urgentItem"></app-urgent-item>
      <a href="add/urgent" class="btn btn-dark">+ Add urgent todo item</a>
    </div>
  </div>
</div>

