<div class="m-5 pb-3 pt-4" id="homepage-wrapper">
  <h3>Check state of your to-do list</h3>
  <div class="lists-wrapper">
    <div class="list" id="todo-list">
      <app-todo-item></app-todo-item>
      <app-todo-item></app-todo-item>
      <app-todo-item></app-todo-item>
    </div>
    <div class="list" id="done-list">
      <app-done-item></app-done-item>
      <app-done-item></app-done-item>
      <app-done-item></app-done-item>
    </div>
    <div class="list" id="urgent-list">
      <app-urgent-item></app-urgent-item>
      <app-urgent-item></app-urgent-item>
      <app-urgent-item></app-urgent-item>
    </div>
  </div>
</div>

