.doneItem{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  background-color: whitesmoke;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 10px;
  position: relative;
}

#deleteButton{
  position: absolute;
  right: 5px;
}
