input[type=text],input[type=date]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e22b2b;
  border-radius: 6px;
  background-color: #f5f1f1;

}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.btn-text-size {
  font-size: larger;
}

#form {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin-left: 300px;
  margin-right: 300px ;
  margin-top: 100px;
}
h5{
  color: #7e0707;
}
