<div id="form">
  <form (submit)="saveTodoItem($event)">
    <h5>Name of todo item:</h5>
    <input type="text" name="todoAdd" [(ngModel)]="todoInput">
    <div *ngIf="showErrorMessage" class="alert alert-danger" role="alert">
      You have to enter todo name
    </div>
    <div class="btn-wrapper mt-2">
      <input type="submit" class="btn btn-primary mr-3 btn-text-size" value="+ Add" >
      <a type="button"  href="/" class="btn btn-dark btn-text-size">Cancel</a>
    </div>
  </form>
</div>
